<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxp.patMag.dao.AdminMapper">
    <resultMap id="patentRemarkResult" type="com.sxp.patMag.entity.Patent">
        <result column="patent_id" property="patentId"/>
        <result column="patent_name" property="patentName"/>
        <result column="patent_remarks" property="patentRemarks"/>
        <result column="remark_view" property="remarkView"/>
    </resultMap>
    <!--管理员审核-->
    <update id="checkPatent">
        update tb_patent
        set patent_schedule = #{patentSchedule}, spare = #{spare},
        patent_remarks = #{patentRemarks}
        <if test="spare == 0">
            , remark_view = '0'
        </if>
        where patent_id = #{patentId}
    </update>
    <!--修改专利的通知查看-->
    <update id="updatePatentRemarkView">
        update tb_patent
        set remark_view = '1'
        where patent_id = #{patentId}
    </update>
    <!--查询专利的通过状态-->
    <select id="selectSpareOfPatent" resultType="java.lang.String">
        select spare
        from tb_patent
        where patent_id = #{patentId}
    </select>
    <!--查询通知-->
    <select id="selectRemarkViewOfPatent" resultMap="patentRemarkResult">
        select patent_id, patent_name, patent_remarks, remark_view
        from tb_patent
        where (write_person = #{userName} or apply_person = #{userName}) and remark_view = '0'
    </select>

    <!---->
    <!--<select id="selectUserByPatent" parameterType="java.lang.String" resultType="java.lang.String">-->
        <!--select user_id from tb_user where user_name = #{userInfo}-->
    <!--</select>-->

</mapper>