<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxp.patMag.dao.AdminMapper">
    <resultMap id="fileResultMap" type="com.sxp.patMag.entity.Jbook">
        <result column="jbook_id" property="jbookId"/>
        <result column="jbook_patent_id" property="jbookPatentId"/>
        <result column="jbook_url" property="jbookUrl"/>
        <result column="jbook_user_id" property="jbookUserId"/>
        <result column="jbook_view" property="jbookView"/>
    </resultMap>
    <!--管理员审核-->
    <update id="checkPatent">
        update tb_patent
        set patent_schedule = #{patentSchedule}, spare = #{spare}
        where patent_id = #{patentId}
    </update>
    <!--专利交底书查询-->
    <select id="selectAllFilesByPatentId" resultMap="fileResultMap">
        select jbook_id, jbook_patent_id, jbook_url, jbook_user_id, jbook_view
        from tb_jbook
        where jbook_patent_id = #{patentId}
    </select>

    <select id="selectSpareOfPatent">
        select spare from tb_patent where patent_id = #{patentId}
    </select>

</mapper>