<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxp.patMag.dao.PatentSelcetMapper">

    <resultMap id="PatentMap" type="com.sxp.patMag.entity.Patent">
        <id column="patent_id" property="patentId"/>
        <result column="case_number" property="caseNumber"/>
        <result column="patent_schedule" property="patentSchedule"/>
        <result column="apply_time" property="applyTime"/>
        <result column="create_person" property="createPerson"/>
        <result column="write_person" property="writePerson"/>
        <collection property="indicatorList" ofType="com.sxp.patMag.entity.Indicator">
            <!--<id column="indicatorId" property="indicatorId"/>-->
            <result column="indicator_name" property="indicatorName"/>
            <!--<result column="patentId" property="patentId"/>-->
        </collection>
    </resultMap>

    <!--专利查询-->
    <select id="selectPatentByPatent" parameterType="com.sxp.patMag.entity.Patent"  resultType="com.sxp.patMag.entity.Patent" >
        select  patent_id,case_number,apply_number,apply_time,write_person,apply_person,create_person,patent_name,patent_schedule,patent_claim,patent_remarks
         from  tb_patent   where  1=1
                    <if test="caseNumber != null and caseNumber.length()>0">
                        AND case_number=#{caseNumber}
                    </if>
                    <if test="applyNumber != null and applyNumber.length()>0">
                        AND apply_number=#{applyNumber}
                    </if>
                    <if test="patentName != null and patentName.length()>0">
                        AND patent_Name=#{patentName}
                    </if>
                    <if test="createPerson != null and createPerson.length()>0">
                        AND create_person=#{createPerson}
                    </if>
                    <if test="patentSchedule != null and patentSchedule.length()>0">
                        AND patent_schedule=#{patentSchedule}
                    </if>
                    <if test="applyTime != null and applyTime.length()>0">
                        AND apply_time=#{applyTime}
                    </if>
            order by apply_time
    </select>



    <!--专利查询-->
    <select id="selectPatentByPatentExport" parameterType="com.sxp.patMag.entity.Patent"  resultType="com.sxp.patMag.entity.PatentExport" >
        select  patent_name, case_number,apply_number,patent_schedule, apply_time, create_person, write_person
        from  tb_patent   where  1=1
        <if test="caseNumber != null and caseNumber.length()>0">
            AND case_number=#{caseNumber}
        </if>
        <if test="applyNumber != null and applyNumber.length()>0">
            AND apply_number=#{applyNumber}
        </if>
        <if test="patentName != null and patentName.length()>0">
            AND patent_Name=#{patentName}
        </if>
        <if test="createPerson != null and createPerson.length()>0">
            AND create_person=#{createPerson}
        </if>
        <if test="patentSchedule != null and patentSchedule.length()>0">
            AND patent_schedule=#{patentSchedule}
        </if>
        <if test="applyTime != null and applyTime.length()>0">
            AND apply_time=#{applyTime}
        </if>

        order by apply_time
    </select>






    <!--确认认领人-->
    <update id="updatePatentToWritePerson" parameterType="com.sxp.patMag.entity.Patent" >
            UPDATE tb_patent SET write_person=#{writePerson},patent_schedule = "已认领",patent_claim="1" WHERE patent_id=#{patentId}
    </update>



    <!--普通用户查询-->
    <select id="selectPatentToUser" parameterType="java.lang.String"  resultType="com.sxp.patMag.entity.Patent" >
        select  patent_id,case_number,apply_number,apply_time,write_person,apply_person,create_person,patent_name,patent_schedule,patent_claim,patent_remarks
           from  tb_patent   where patent_claim="true" order by apply_time,patent_claim
    </select>

    <!--admin用户查询-->
    <select id="selectPatentToAdmin" parameterType="java.lang.String"  resultType="com.sxp.patMag.entity.Patent" >
        select  patent_id,case_number,apply_number,apply_time,write_person,apply_person,create_person,patent_name,patent_schedule,patent_claim,patent_remarks
           from  tb_patent order by apply_time,patent_claim
    </select>

    <!--查询详细或审核信息-->
    <select id="selectPatentById" parameterType="java.lang.String"  resultType="com.sxp.patMag.entity.Patent" >
        select patent_id,case_number,apply_number,apply_time,write_person,apply_person,create_person,patent_name,patent_schedule,patent_claim,patent_remarks
        from  tb_patent  where patent_id=#{patentId}
    </select>

    <!--admin用户查询-->
    <select id="selectPatentMessage" parameterType="com.sxp.patMag.entity.User" resultMap="PatentMap" >   <!--resultType="com.sxp.patMag.entity.Patent"-->
        SELECT  patent_id,case_number,apply_number,apply_time,write_person,apply_person,create_person,patent_name,patent_schedule,patent_claim,patent_remarks,indicator_name
            i.indicator_id indicatorId,
            p.patent_id patentId,
            i.indicator_name indicatorName,
            p.case_number caseNumber,
            p.patent_schedule patentSchedule,
            p.apply_time applyTime,
            p.create_person createPerson,
            p.write_person writePerson
        FROM  tb_patent p
        join tb_indicator i
        on i.patent_id = p.patent_id

</mapper>