<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxp.patMag.dao.PatentMapper">


    <insert id="uploadFile" parameterType="com.sxp.patMag.entity.PatentMaintain">
        INSERT INTO
        tb_file (file_id, file_url, file_zd_id, file_patent_id, file_view)
        VALUES
        (#{fileId}, #{patentfileURL}, #{zdId}, #{patentId}, #{fileView})
    </insert>

    <update id="updatePatent">
        UPDATE tb_patent
        <trim prefix="SET" suffixOverrides=",">
            <if test="caseNumber != null">case_number=#{caseNumber},</if>
            <if test="applyNumber != null">apply_number=#{applyNumber},</if>
            <if test="applyTime != null">apply_time=#{applyTime},</if>
            <if test="writePerson != null">write_person=#{writePerson},</if>
            <if test="applyPerson != null">apply_person=#{applyPerson},</if>
            <if test="createPerson != null">create_person=#{createPerson},</if>
            <if test="patentName != null">patent_name=#{patentName},</if>
            <if test="patentSchedule != null">patent_schedule=#{patentSchedule},</if>
            <if test="patentClaim != null">patent_claim=#{patentClaim},</if>
            <if test="patentRemarks != null">patent_remarks=#{patentRemarks},</if>
            <if test="patentId != null">patent_id=#{patentId}</if>
        </trim>
        where patent_id=#{patentId}
    </update>

    <select id="getPatentList" resultType="com.sxp.patMag.entity.IndicatorExport">
        SELECT
            i.indicator_id indicatorId,
            i.indicator_name indicatorName,
            p.case_number caseNumber,
            p.patent_schedule patentSchedule,
            p.apply_time applyTime,
            p.create_person createPerson,
            p.write_person writePerson
        FROM  tb_patent p
        RIGHT JOIN tb_indicator i
        ON i.patent_id = p.patent_id
        order by case
        WHEN patent_schedule like '未审核%' then 1
        WHEN patent_schedule like '未通过%' then 2
        WHEN patent_schedule like '待认领%' then 3
        WHEN patent_schedule like '编写中%' then 4
        WHEN patent_schedule like '%复%' then 5
        WHEN patent_schedule like '待提交%' then 6
        WHEN patent_schedule like '已提交%' then 7
        WHEN patent_schedule like '%维护%' then 8
        end
        asc,apply_time desc
    </select>

    <select id="getById" parameterType="java.lang.String" resultType="com.sxp.patMag.entity.Patent">
        SELECT patent_id patentId,
            case_number caseNumber,
            apply_number applyNumber,
            apply_time applyTime,
            write_person writePerson,
            apply_person applyPerson,
            create_person createPerson,
            patent_name patentName,
            patent_schedule patentSchedule,
            patent_claim patentClaim,
            patent_remarks patentRemarks,
            spare
        FROM tb_patent WHERE patent_id = #{patentId}
    </select>

    <select id="getPatentListByVO" resultType="com.sxp.patMag.entity.IndicatorExport">
        SELECT
        i.indicator_id indicatorId,
        i.indicator_name indicatorName,
        p.case_number caseNumber,
        p.patent_schedule patentSchedule,
        p.apply_time applyTime,
        p.create_person createPerson,
        p.write_person writePerson
        FROM tb_patent p
        RIGHT JOIN tb_indicator i
        ON i.patent_id = p.patent_id WHERE 1=1
        <trim prefix="AND" suffixOverrides="AND">
            <if test="indicatorName != null">
                indicator_name LIKE CONCAT('%',#{indicatorName},'%') AND
            </if>
            <if test="caseNumber != null">
                case_number  LIKE CONCAT('%',#{caseNumber},'%') AND
            </if>
            <if test="patentSchedule != null">
                patent_schedule LIKE CONCAT('%',#{patentSchedule},'%') AND
            </if>
            <if test="applyTime != null">
                apply_time LIKE CONCAT('%',#{applyTime},'%') AND
            </if>
            <if test="createPerson != null">
                create_person LIKE CONCAT('%',#{createPerson},'%') AND
            </if>
            <if test="writePerson != null">
                write_person LIKE CONCAT('%',#{writePerson},'%') AND
            </if>
            <if test="applyNumber != null">
                apply_number  LIKE CONCAT('%',#{applyNumber},'%')
            </if>
        </trim>
        order by case
        WHEN patent_schedule like '未审核%' then 1
        WHEN patent_schedule like '未通过%' then 2
        WHEN patent_schedule like '待认领%' then 3
        WHEN patent_schedule like '编写中%' then 4
        WHEN patent_schedule like '%复%' then 5
        WHEN patent_schedule like '待提交%' then 6
        WHEN patent_schedule like '已提交%' then 7
        WHEN patent_schedule like '%结束%' then 8
        end
        asc,apply_time desc
    </select>

    <select id="getIndicatorById" resultType="com.sxp.patMag.entity.IndicatorExport">
        SELECT
            i.indicator_id indicatorId,
            i.indicator_name indicatorName,
            p.case_number caseNumber,
            p.patent_schedule patentSchedule,
            p.apply_time applyTime,
            p.create_person createPerson,
            p.write_person writePerson
        FROM  tb_patent p
        RIGHT JOIN tb_indicator i
        ON i.patent_id = p.patent_id WHERE indicator_id = #{indicatorId}
    </select>

    <select id="getJbookUrlList" resultType="java.lang.String">
        SELECT jbook_url FROM tb_jbook WHERE jbook_patent_id = #{patentId}
    </select>

    <select id="getMaintainList" resultType="java.lang.String">
        SELECT zd_file FROM tb_zd WHERE zd_file <![CDATA[ <> ]]> '无' order by zd_id*1
    </select>

    <select id="getFileURLByPatentId" resultType="com.sxp.patMag.entity.PatentFileMaintain">
        SELECT
            f.file_url patentfileURL,
            zd.zd_file zdFile
        FROM
            tb_file f
            LEFT JOIN tb_zd zd ON f.file_zd_id = zd.zd_id
        WHERE
	        f.file_patent_id = #{patentId} AND f.file_view = '1'
    </select>


    <update id="submitPatent">
        UPDATE tb_patent
        SET  patent_schedule="已提交"
        where patent_id=#{patentId}
    </update>

    <update id="noSubmitPatent">
        UPDATE tb_patent
        SET  patent_schedule="编写中"
        where patent_id=#{patentId}
    </update>



    <update id="updateView" >
        UPDATE tb_file SET file_view = '0' WHERE file_patent_id = #{patentId} AND file_zd_id = #{zdId}
    </update>


    <select id="getStatus" resultType="java.lang.String">
        select file_zd_id  from  tb_file where file_patent_id = #{patentId} and file_view = '1' order by file_zd_id*1 desc limit 0,1
    </select>
</mapper>