<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxp.patMag.dao.PatentSelcetMapper">

    <resultMap id="PatentMap" type="com.sxp.patMag.entity.PatentVO">
        <id column="id" property="patentId"/>
        <result column="case_number" property="caseNumber"/>
        <result column="patent_schedule" property="patentSchedule"/>
        <result column="apply_time" property="applyTime"/>
        <result column="apply_number" property="applyNumber"/>
        <result column="apply_person" property="applyPerson"/>
        <result column="create_person" property="createPerson"/>
        <result column="write_person" property="writePerson"/>
        <result column="patent_name" property="patentName"/>
        <result column="patent_claim" property="patentClaim"/>
        <result column="patent_remarks" property="patentRemarks"/>
        <result column="jbook_url"  property="jbook"/>
        <collection property="indicatorList" ofType="java.lang.String">
           <!-- <id column="indicatorId" property="indicatorId"/>-->
            <result column="indicator_name" property="indicatorName"/>
<!--            <result column="patentId" property="patentId"/>-->
        </collection>
    </resultMap>

    <!--专利查询-->
    <select id="selectPatentByPatent" parameterType="com.sxp.patMag.entity.Patent"  resultType="com.sxp.patMag.entity.Patent" >
        select  patent_id,case_number,apply_number,apply_time,write_person,apply_person,create_person,patent_name,patent_schedule,patent_claim,patent_remarks
         from  tb_patent   where  1=1
                    <if test="caseNumber != null and caseNumber.length()>0">
                        AND case_number like CONCAT('%',#{caseNumber},'%')
                    </if>
                    <if test="applyNumber != null and applyNumber.length()>0">
                        AND apply_number  like CONCAT('%',#{applyNumber},'%')
                    </if>
                    <if test="patentName != null and patentName.length()>0">
                        AND patent_Name  like CONCAT('%',#{patentName},'%')
                    </if>
                    <if test="createPerson != null and createPerson.length()>0">
                        AND create_person  like CONCAT('%',#{createPerson},'%')
                    </if>
                    <if test="patentSchedule != null and patentSchedule.length()>0">
                        AND patent_schedule  like CONCAT('%',#{patentSchedule},'%')
                    </if>
                    <if test="applyTime != null and applyTime.length()>0">
                        AND apply_time like  CONCAT('%',#{applyTime},'%')
                    </if>
                    <if test="patentClaim != null and  patentClaim !=1">
                        AND patent_claim=#{patentClaim}
                        AND patent_schedule="待认领"
                    </if>
        order by case
        WHEN patent_schedule like '未审核%' then 1
        WHEN patent_schedule like '未通过%' then 2
        WHEN patent_schedule like '待认领%' then 3
        WHEN patent_schedule like '编写中%' then 4
        WHEN patent_schedule like '待提交%' then 5
        WHEN patent_schedule like '已提交%' then 6
        end
        asc,apply_time desc
    </select>



    <!--专利导出-->
    <select id="selectPatentByPatentExport" parameterType="com.sxp.patMag.entity.Patent"  resultType="com.sxp.patMag.entity.PatentExport" >
        select  patent_name, case_number,apply_number,patent_schedule, apply_time, create_person, write_person
        from  tb_patent   where  1=1
        <if test="caseNumber != null and caseNumber.length()>0">
            AND case_number=#{caseNumber}
        </if>
        <if test="applyNumber != null and applyNumber.length()>0">
            AND apply_number=#{applyNumber}
        </if>
        <if test="patentName != null and patentName.length()>0">
            AND patent_Name=#{patentName}
        </if>
        <if test="createPerson != null and createPerson.length()>0">
            AND create_person=#{createPerson}
        </if>
        <if test="patentSchedule != null and patentSchedule.length()>0">
            AND patent_schedule=#{patentSchedule}
        </if>
        <if test="applyTime != null and applyTime.length()>0">
            AND apply_time=#{applyTime}
        </if >

        order by case
        WHEN patent_schedule like '未审核%' then 1
        WHEN patent_schedule like '未通过%' then 2
        WHEN patent_schedule like '待认领%' then 3
        WHEN patent_schedule like '编写中%' then 4
        WHEN patent_schedule like '待提交%' then 5
        WHEN patent_schedule like '已提交%' then 6
        end
        asc,apply_time desc
    </select>






    <!--确认认领人-->
    <update id="updatePatentToWritePerson" parameterType="com.sxp.patMag.entity.Patent" >
            UPDATE tb_patent SET write_person=#{writePerson},patent_schedule = "编写中",patent_claim="1" WHERE patent_id=#{patentId}
    </update>



    <!--普通用户查询-->
    <select id="selectPatentToUser" parameterType="java.lang.String"  resultType="com.sxp.patMag.entity.Patent" >
        select  patent_id,case_number,apply_number,apply_time,write_person,apply_person,create_person,patent_name,patent_schedule,patent_claim,patent_remarks
           from  tb_patent   where patent_claim="0" order by case
        WHEN patent_schedule like '未审核%' then 1
        WHEN patent_schedule like '未通过%' then 2
        WHEN patent_schedule like '待认领%' then 3
        WHEN patent_schedule like '编写中%' then 4
        WHEN patent_schedule like '待提交%' then 5
        WHEN patent_schedule like '已提交%' then 6
        end
        asc,apply_time desc
    </select>

    <!--admin用户查询-->
    <select id="selectPatentToAdmin" parameterType="java.lang.String"  resultType="com.sxp.patMag.entity.Patent" >
        select  patent_id,case_number,apply_number,apply_time,write_person,apply_person,create_person,patent_name,patent_schedule,patent_claim,patent_remarks
           from  tb_patent order by case
        WHEN patent_schedule like '未审核%' then 1
        WHEN patent_schedule like '未通过%' then 2
        WHEN patent_schedule like '待认领%' then 3
        WHEN patent_schedule like '编写中%' then 4
        WHEN patent_schedule like '待提交%' then 5
        WHEN patent_schedule like '已提交%' then 6
        end
        asc,apply_time desc
</select>

    <!--查询详细或审核信息-->
   <!--  select patent_id,case_number,apply_number,apply_time,write_person,apply_person,create_person,patent_name,patent_schedule,patent_claim,patent_remarks
    from  tb_patent  where patent_id=#{patentId}-->
    <select id="selectPatentById" parameterType="java.lang.String" resultMap="PatentMap"> <!--resultType="com.sxp.patMag.entity.Patent"-->
        SELECT
        p.patent_id id,
        case_number,
        apply_number,
        apply_time,
        write_person,
        apply_person,
        create_person,
        patent_name,
        patent_schedule,
        patent_claim,
        patent_remarks,
        i.indicator_name,
        jbook_url
        FROM
        tb_patent p
        LEFT JOIN tb_indicator i ON p.patent_id = i.patent_id
        LEFT JOIN tb_jbook j ON j.jbook_patent_id = p.patent_id
        WHERE p.patent_id = #{patentId} AND j.jbook_view='1'
    </select>






    <!--根据用户查询专利显示-->
    <select id="selectPatentMessage" parameterType="com.sxp.patMag.entity.User" resultMap="PatentMap" >   <!--resultType="com.sxp.patMag.entity.Patent"-->
        SELECT
            p.patent_id id,
            case_number,
            apply_number,
            apply_time,
            write_person,
            apply_person,
            create_person,
            patent_name,
            patent_schedule,
            patent_claim,
            patent_remarks,
            i.indicator_name,
            jbook_url
        FROM
        tb_patent p
        LEFT JOIN tb_indicator i ON p.patent_id = i.patent_id
        LEFT JOIN tb_jbook j ON j.jbook_user_id = p.patent_id
        WHERE
        write_person = #{userName} or apply_person=#{userName}
        order by case
            WHEN patent_schedule like '未审核%' then 1
            WHEN patent_schedule like '未通过%' then 2
            WHEN patent_schedule like '待认领%' then 3
            WHEN patent_schedule like '编写中%' then 4
            WHEN patent_schedule like '待提交%' then 5
            WHEN patent_schedule like '已提交%' then 6
            end
        asc,apply_time desc
    </select>


    <select id="selectPatentSchedule" parameterType="com.sxp.patMag.entity.Patent" resultType="String">
        select patent_schedule from tb_patent where patent_id=#{patentId}
    </select>
</mapper>