<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxp.patMag.dao.PatentMapper">

    <update id="updatePatent">
        UPDATE tb_patent
        <trim prefix="SET" suffixOverrides=",">
            <if test="caseNumber != null">case_number=#{caseNumber},</if>
            <if test="applyNumber != null">apply_number=#{applyNumber},</if>
            <if test="applyTime != null">apply_time=#{applyTime},</if>
            <if test="writePerson != null">write_person=#{writePerson},</if>
            <if test="applyPerson != null">apply_person=#{applyPerson},</if>
            <if test="createPerson != null">create_person=#{createPerson},</if>
            <if test="patentName != null">patent_name=#{patentName},</if>
            <if test="patentSchedule != null">patent_schedule=#{patentSchedule},</if>
            <if test="patentClaim != null">patent_claim=#{patentClaim},</if>
            <if test="patentRemarks != null">patent_remarks=#{patentRemarks},</if>
            <if test="patentId != null">patent_id=#{patentId}</if>
        </trim>
        where patent_id=#{patentId}
    </update>

    <select id="getPatentList" resultType="com.sxp.patMag.entity.IndicatorExport">
        SELECT
            i.indicator_id indicatorId,
            i.indicator_name indicatorName,
            p.case_number caseNumber,
            p.patent_schedule patentSchedule,
            p.apply_time applyTime,
            p.create_person createPerson,
            p.write_person writePerson
        FROM  tb_patent p
        RIGHT JOIN tb_indicator i
        ON i.patent_id = p.patent_id
    </select>

    <select id="selectById" parameterType="java.lang.String" resultType="com.sxp.patMag.entity.Patent">
        select *   from  tb_patent   where  patent_id  = #{patentId}
    </select>

    <select id="getPatentListByVO" resultType="com.sxp.patMag.entity.IndicatorExport">
        SELECT
        i.indicator_id indicatorId,
        i.indicator_name indicatorName,
        p.case_number caseNumber,
        p.patent_schedule patentSchedule,
        p.apply_time applyTime,
        p.create_person createPerson,
        p.write_person writePerson
        FROM tb_patent p
        RIGHT JOIN tb_indicator i
        ON i.patent_id = p.patent_id WHERE 1=1
        <trim prefix="AND" suffixOverrides="AND">
            <if test="indicatorName != null">
                indicator_name = #{indicatorName} AND
            </if>
            <if test="caseNumber != null">
                case_number = #{caseNumber} AND
            </if>
            <if test="patentSchedule != null">
                patent_schedule = #{patentSchedule} AND
            </if>
            <if test="applyTime != null">
                apply_time = #{applyTime} AND
            </if>
            <if test="createPerson != null">
                create_person = #{createPerson} AND
            </if>
            <if test="writePerson != null">
                write_person = #{writePerson} AND
            </if>
            <if test="applyNumber != null">
                apply_number = #{applyNumber}
            </if>
        </trim>
    </select>

    <select id="getIndicatorById" resultType="com.sxp.patMag.entity.IndicatorExport">
        SELECT
            i.indicator_id indicatorId,
            i.indicator_name indicatorName,
            p.case_number caseNumber,
            p.patent_schedule patentSchedule,
            p.apply_time applyTime,
            p.create_person createPerson,
            p.write_person writePerson
        FROM  tb_patent p
        RIGHT JOIN tb_indicator i
        ON i.patent_id = p.patent_id WHERE indicator_id = #{indicatorId}
    </select>


</mapper>